

.contact{
    padding-bottom: 60px;
}

.contact__info__list{
    list-style: none;
    padding-left: 0;
    margin-top: 40px;
}

.contact__info__item{
    display: flex;
    align-items: center;    
    margin-bottom: 15px;
    column-gap: 1rem;
}

.contact__info__item p{
    margin-bottom: 0; 
}

.contact__info__item span i{
    color: #01d293;
    font-size: 1.2rem;
    padding: 5px;
    border-radius: 5px;
    background:#01d29338;
}

.social__links{
    display: flex;
    column-gap: 1rem;
    align-items: center;
    margin-top: 30px;
    color: #808dad !important;
    font-size: 1.3rem !important;
    cursor: pointer;
}




@media only screen and (max-width:576px){
    .social__links{
        margin-bottom: 30px;
    }
}