

.testimonial__item{
    padding: 0px 20px;
}

.testimonial__client{
    display: flex;
    column-gap: 1rem;
    margin-bottom: 30px;
}

.testimonial__client h6{
    font-weight: 400;
}

.testimonial__client h6:last-child{
    color: #01d293;
}



@media only screen and (max-width:576px){

    .testimomial__img img{
        width: 370px !important;
        height: 240px !important;
    }

    .testimomial__img{
        text-align: center;
        margin-bottom: 50px;
    }
}